{% extends "base.html" %} {% block title %}Home | KIIT SAP{% endblock %} {%
block content%}
<form method="POST">
  <div class="row">
    <div class="col-sm-3 mt-2">
      <select class="form-select" name="year">
        <option selected disabled value="">Year</option>
        <option value="2018">2018-2019</option>
        <option value="2019">2019-2020</option>
        <option value="2020">2020-2021</option>
        <option value="2021">2021-2022</option>
        <option value="2022">2022-2023</option>
      </select>
    </div>
    <div class="col-sm-3 mt-2">
      <select class="form-select" name="session">
        <option selected disabled value="">Session</option>
        <option value="Autumn">Autumn</option>
        <option value="Spring">Spring</option>
      </select>
    </div>
    <div class="col-sm-3 mt-2">
      <button
        type="submit"
        class="btn btn-primary"
      >
        Submit
      </button>
    </div>
  </div>
</form>
{% block attendance_table %} {% endblock %} {% endblock %}
