{% extends "home.html" %}
{% block attendance_table %}
<div class="table-responsive">
  <table class="table mt-2">
    <thead>
      <tr>
        {% for header in attendance.keys() %}
          <th>{{header}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for i in range(len)%}
        <tr>
          {% for colname in col_list %}
            <td>{{attendance[colname][i]}}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
