<!DOCTYPE html>
<html lang="en" style="min-height: 100%">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sign in | KIIT SAP</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.svg" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
  </head>
  <body
    style="
      width: 100%;
      background: rgb(116, 0, 108);
      background: linear-gradient(
        45deg,
        rgba(116, 0, 108, 1) 0%,
        rgba(0, 152, 179, 1) 50%,
        rgba(0, 182, 72, 1) 100%
      );
    "
  >
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <div
      class="card bg-dark text-center"
      style="
        width: 20rem;
        margin: 5rem auto;
        border-radius: 1rem;
        box-shadow: 0px 5px 30px black;
      "
    >
      <form method="POST" id="login-form" onsubmit="loading()">
        <div class="mt-4 mb-2">
          <img src="/static/KIIT.svg" alt="" width="120" />
        </div>
        <h3 class="text-light fw-bold mb-5">SAP Portal</h3>
        <div class="form-floating mx-4 my-2">
          <input
            type="text"
            class="form-control rounded-4 required"
            id="floatingID"
            name="uid"
            placeholder="xxxxxxx"
            onkeyup="enableSubmit()"
          />
          <label for="floatingID">User ID</label>
        </div>
        <div class="form-floating mx-4 my-3">
          <input
            type="password"
            class="form-control rounded-4 required"
            id="floatingPassword"
            name="password"
            placeholder="Password"
            onkeyup="enableSubmit()"
          />
          <label for="floatingPassword">Password</label>
        </div>
        <div class="d-grid">
          <button
            type="submit"
            id="submit"
            class="btn btn-lg btn-primary rounded-4 mx-4 mb-1"
            disabled
          >
            Sign in
          </button>
        </div>
        <div style="height: 3.2rem">
          <span id="errMsg" class="text-warning fw-light">
          {% if len > 0 %}
            {{message}}
          {% endif %}
          </span>
        </div>
      </form>
    </div>

    <script>
      function loading() {
        let btn = document.getElementById("submit");
        let span = document.createElement("span");
        btn.innerText = " Loading";
        span.className = "spinner-border spinner-border-sm";
        btn.prepend(span);
        btn.disabled = true;
      }
      
      function enableSubmit() {
        document.getElementById("errMsg").innerText = "";
        let inputs = document.getElementsByClassName("required");
        let btn = document.getElementById("submit");
        let isValid = true;
        for (var i = 0; i < inputs.length; i++) {
          let changedInput = inputs[i];
          if (changedInput.value.trim() === "" || changedInput.value === null) {
            isValid = false;
            break;
          }
        }
        btn.disabled = !isValid;
      }
    </script>
  </body>
</html>
